@font-face {
  font-family: "DrukCyr-Heavy";
  src: url("../src/fonts/DrukCyr/DrukCyr-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Sk-Modernist-Mono";
  src: url("../src/fonts/WorkSans/Sk-Modernist-Mono.otf") format("opentype");
}
