@font-face {
  font-family: "HKGrotesk-Regular";
  src: url("../src/fonts/HKGrotesk/HKGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../src/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TenorSans-Regular";
  src: url("../src/fonts/Tenor_Sans/TenorSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("/src/fonts/Mont/Mont-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: url("/src/fonts/Mont/Mont-SemiBold.otf") format("opentype");
}
