@font-face {
  font-family: "WorkSans-Regular";
  src: url("../src/fonts/WorkSans/WorkSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("../src/fonts/roboto/WorkSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "WorkSans-Semibold";
  src: url("../src/fonts/roboto/WorkSans-Semibold.woff") format("woff");
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("../src/fonts/roboto/WorkSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "WorkSans-Black";
  src: url("../src/fonts/roboto/WorkSans-Black.woff") format("woff");
}
