@import "mixins.scss", "fonts.scss", "breakpoints.scss", "../base/colors.scss";

$font-worksans-regular: "WorkSans-Regular";
$font-worksans-bold: "WorkSans-Bold";
$font-worksans-semibold: "WorkSans-Semibold";
$font-worksans-medium: "WorkSans-Medium";
$font-worksans-black: "WorkSans-Black";

// DESKTOP FONTS
@mixin hero-font {
  @include font($font-worksans-medium, 500, 16rem, 10rem, none, normal);
}
@mixin hero-font--mob {
  @include font($font-worksans-medium, 300, 8rem, 5rem, none, normal);
}

@mixin heading-1 {
  @include font($font-worksans-medium, 400, 9.6rem, 10rem, none, normal);
}
@mixin heading-1--mob {
  @include font($font-worksans-medium, 400, 4.6rem, 6rem, none, normal);
}

@mixin heading-2 {
  @include font($font-worksans-medium, 500, 2rem, 2.8rem, none, normal);
}

@mixin heading-3 {
  @include font($font-worksans-regular, 500, 3.5rem, 4.5rem, none, normal);
}

@mixin heading-4 {
  @include font($font-worksans-regular, 400, 1.8rem, 2.2rem, none, normal);
}

@mixin heading-5 {
  @include font($font-worksans-regular, 500, 2.2rem, 2.2rem, none, normal);
}

@mixin paragraph {
  @include font($font-worksans-medium, 500, 2rem, 2.6rem, none, normal);
}

@mixin paragraph-bold {
  @include font($font-worksans-bold, bold, 2rem, 2.6rem, none, normal);
}

@mixin paragraph-min {
  @include font($font-worksans-bold, 500, 1.8rem, 2.4rem, none, normal);
}
