@import "../abstracts/mixins.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 12vw;
  @include respond(phone) {
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: white;
    // padding: 0;
    width: 100%;
  }
  .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 6rem;
      height: 6rem;
      margin-right: 2rem;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // PHONE ==========================================================================
    @include respond(phone) {
      display: none;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      li {
        margin-right: 2rem;
      }
    }
  }
}
