@import "../abstracts/mixins.scss", "../base/colors.scss";

.hero--2 {
  pointer-events: none;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-auto-rows: max-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include respond(phone) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: none;
  }
  &--mob {
    display: none;
    @include respond(phone) {
      display: flex;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-height: min-content;
      h2 {
        text-transform: uppercase;
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: min-content;
    li {
      font-size: 1.8rem;
      font-weight: 700;
      color: var(--color-black);
      @include respond(tab_port) {
        margin: 2rem 0;
      }

      a {
        text-decoration: none;
        &:hover {
          color: $color-1;
        }
        h2 {
          text-transform: uppercase;
          border: 3px solid transparent;
          padding: 1rem 1.5rem;
          @include respond(phone) {
            padding: 0.7rem 1rem;
          }
        }
      }
    }
  }
}
