<div class="participant">
  <h3 class="heading-3">commercial public art</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/commercialpublicart.jpeg" alt="commercial public волонтерка" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">"волонтерка/volunteering", 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Нові умови розпливаються та розгортаються ріками і містами, відчувається, що повітря навколо нас
    змінило свій склад і ми дихаємо новою атмосферою, у якій емпатія та взаємодопомога стали чимось
    природнім. Деякі з нас стикнулися з невідворотністю змін свого існування та неможливістю
    займатися притаманною попередньому життю діяльністю, адже вона не зупинила нищівного жахіття, що
    відбувається у режимі реального часу. Нас не вчать, як пережити війну. Поринаючи в практику,
    минаючи сумніви та мандри теоріями, ми досягаємо швидких результатів і оперативних перемог,
    усвідомивши свої координати в тілі єдиного організму. На власній шкірі ми викарбовуємо спільний
    досвід, створюємо колективну пам’ять, яка є сукупністю пам’ятей особистостей, кожна з яких не є
    лише безбарвною цифрою в статистиці. Робота є відтворенням ситуативної скульптури, яка була
    зроблена за 20 хв під час волонтерки у Гостомелі.
  </p>
</div>
