<div class="participant">
  <h3 class="heading-3">Kosmos Tabir</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/cosmo.png" alt="cosmos lavka" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">Арт-об'єкт «КосмоЇжак», 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Урбаністична експозиція переосмислює роль та явища оборонних споруд типу «Їжак», якими зарясніли
    міста неньки України з початком повномасштабного вторгнення росії. Проєкт розроблено
    архітекторкою Софією Боднар <br />
    Робота з металом – Юрій Воронін <br />
    Робота з деревом – Богдан Оксенюк<br />
    Куратор проєкту – Михайло Мазепа
  </p>
</div>
