<div class="participant">
  <h3 class="heading-3">Hooligan Art Community</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/feldman-taro.jpeg" alt="feldman-taro cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">Серія карт Таро, присвячених Україні</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Серія, що складається з 78 карт Таро присвячених Україні.
  </p>
</div>
