<div class="participant">
  <h3 class="heading-3">George Ivanchenko</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/George-Ivanchenko.jpg" alt="George Ivanchenko cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">Фото, 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Серія фотографій, створених за період повномасштабного вторгнення у Львові, Бородянці, Чернігові
    та Харкові.
  </p>
</div>
