<div class="participant">
  <h3 class="heading-3">Юрій Іванцик</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/ivancyk.jpg" alt="Юрій Іванцик Щоденник війни" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">"Щоденник війни", 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min"></p>
</div>
