<div class="participant">
  <h3 class="heading-3">Максим Калинчук</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/kalynchuk.png" alt="Максим Калинчук Живі" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">"Живі", 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Життя було казковим. Щоденно ми намагалися зробити його кращим, не звертаючи увагу на політичні
    ігри. Ми будували своє майбутнє, поки хтось готував плани його знищення. Зараз, коли повно болю,
    крові та несправедливості, хочеться повернутись у ті часи та зробити все, щоб ця війна не
    прийшла. Але вже пізно. Тому сьогодні ми змушені носити ці жахи у собі. Ми мріяли, натягнувши на
    себе рожеві окуляри. Але у лютому їх розбили. Сьогодні такий аксесуар вдягати боляче, уламки
    скла постійно ріжуть око. Тепер ми змушені полювати на зорі, що падають, шукати нові мрії та
    сенси. І скоро ми їх знайдемо, а значить – життя буде.
  </p>
</div>
