<div class="participant">
  <h3 class="heading-3">Olena Kosovych</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/kosovych.jpg" alt="Olena Kosovych not a vacation" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">"It's not a vacation", 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    На пасхальні вихідні ми з‘їздили до наших родичів, які виїхали з України через війну і знайшли
    прихисток в невеличкому селі на півночі Німеччини. Побачитись, влаштувати для дітей пошуки
    шоколадних яєць, відсвяткувати День народження малого. Курортне село, пасторальна ідилія: поля,
    мальовничий канал, охайні будиночки, коні, вітряки, ліс. Перша зустріч чорно-біла. Все красиве
    знебарвлюється, навіть пейзажі. Дітям вдається розфарбовувати це, але є декілька але.
  </p>
</div>
