<div class="participant">
  <h3 class="heading-3">Аля Сєгал</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/segal.jpg" alt="Аля Сєгал Тіндер у вогні" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">"Тіндер у вогні", 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Я хочу своє життя назад. Але таким, як було до війни, воно вже не стане ніколи. Досвід, який ми
    зараз проживаємо, змінює кожного та кожну, кого ця війна торкається. Деякі зміни помітні вже
    сьогодні, якісь ми будемо ловити ще роками. Один з неочевидних аспектів нової ідентичності –
    трансформація сексуальності. Разом із тим, що новими секс-символами стають політики, а на людей
    у формі розвинувся ще сильніший фетиш, в Тіндері зустрічається все більше профілей військових.
    Сергій шукає "бойову дружину", Василь – палкої переписки перед сном, а Олег зрозумів, що після
    перемоги хоче завести родину. І всі вони відкладають мирні портрети наостанок, або не публікують
    взагалі. Якими коханцями та коханками будуть наші ветерани? Які стосунки ми будемо будувати на
    своїх травмах від війни? І як розпочати бесіду із своїм новим метчем із ЗСУ?
  </p>
</div>
