<div class="participant">
  <h3 class="heading-3">Аня Шевченко</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/shevchenko.png" alt="shevchenko " />
    <div>
      <div class="dot"></div>
      <p class="heading-5">Інсталяція «Розкажи мені», 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    В кожній комірці – спогади реальних людей під час війни. Деякі комірки зачинені.
  </p>
</div>
