<div class="participant">
  <h3 class="heading-3">Vlad Naboka SIDE</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/side.png" alt="side cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">War Side Effects by Vlad Naboka SIDE</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    War Side Effects by Vlad Naboka SIDE – це колекція картин про життя під час війни. Художник
    малює із території України. Спроба передати емоції та переживання людей, які там перебувають.
  </p>
</div>
