<div class="participant">
  <h3 class="heading-3">Anton Vertwen</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/vertwen.jpeg" alt="Vertven Рoster war diary" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">Рoster war diary, 2022</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Листівки про війну, обмазані солодким ескапізмом та неможливістю усвідомити, що відбувається тут
    і зараз. <br />
    Плакати, зроблені під час війни. Спроба фіксації дійсності, коли її неможливо було осмислити.
  </p>
</div>
