.wrapper-main {
  padding: 0 4vw;
}

ul {
  list-style: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > .branding {
  display: flex;
  flex-direction: row;
}

header > .branding > img {
  width: 60px;
  height: 60px;
}
header > .branding > img {
  width: 60px;
  height: 60px;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
}
