<section class="hero wrapper-main">
  <div class="hero__theatre">
    <h1>мисте</h1>
    <h1>цтво</h1>
    <h1>зброя</h1>
  </div>
  <div class="hero__desc">
    <div class="hero__desc__meta">
      <div class="hero__desc__meta__date">
        <div class="dot"></div>
        <p>3.05.2022</p>
      </div>
      <div class="hero__desc__meta__loc">
        <div class="dot"></div>
        <p>Нижньорюрківська, 31</p>
      </div>
    </div>
    <div class="hero__desc__about">
      <p>Про подію</p>
      <p>
        Event-заходи проводяться для того, щоб позитивно впливати на думку аудиторії, налагоджувати
        ділові контакти, обмінятися досвідом. У маркетингу івенти від Ивент агентства Эмбиент
        вважаються важливими інструментами.
      </p>
    </div>
    <ul class="hero__desc__bages">
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><div></div></li>
    </ul>
  </div>
</section>
<section class="marquee"></section>
