<section class="partners wrapper-main">
  <h1 class="heading-1">Партнери</h1>
  <div>
    <!-- <div class="img-wrapper"><img src="/src/imgs/logos/polygon.svg" alt="logo" /></div>
  <div class="img-wrapper"><img src="/src/imgs/logos/cosmos.svg" alt="logo" /></div>
  <div class="img-wrapper"><img src="/src/imgs/logos/hexagon.svg" alt="logo" /></div> -->
    <div class="img-wrapper"><img src="/src/imgs/logos/otel.svg" alt="logo" /></div>
    <div class="img-wrapper"><img src="/src/imgs/logos/tabor.svg" alt="logo" /></div>
    <div class="img-wrapper"><img src="/src/imgs/logos/closer.svg" alt="logo" /></div>
  </div>
</section>
