<section class="support wrapper-main">
  <div class="support__title">
    <h1 class="heading-1">Підтримка</h1>
    <img src="/src/imgs/logo-blue.svg" alt="artweapon logo" />
  </div>
  <div class="support__text">
    <p class="paragraph-bold">Як можна нас підтримати</p>
    <p class="paragraph-min"></p>
  </div>
  <div class="support__details">
    <div>
      <p class="heading-2 uppercase">МОНОБАНК</p>
      <p class="heading-2 uppercase data">4441 1144 5062 8944</p>
    </div>
    <div>
      <p class="heading-2 uppercase">ПРИВАТБАНК</p>
      <p class="heading-2 uppercase data">5457 0822 7268 0245</p>
    </div>
    <div>
      <p class="heading-2 uppercase">МІЖНАРОДНІ ПЕРЕКАЗИ</p>
      <p class="heading-2 uppercase data">SWIFT / IBAN</p>
    </div>
    <div>
      <p class="heading-2 uppercase">PAYPAL</p>
      <p class="heading-2 uppercase data">pledcasting@gmail.com</p>
    </div>
  </div>
</section>
