<section class="support wrapper-main">
  <div class="support__title">
    <h1 class="heading-1">Підтримка</h1>
    <img src="/src/imgs/logo-blue.svg" alt="artweapon logo" />
  </div>
  <div class="support__text">
    <p class="paragraph-bold">Як можна нас підтримати</p>
    <p class="paragraph-min">
      У цей особливо непростий період українським митцям важливо творити далі, щоб ділитися з людьми
      своїми почуттями та емоціями. У сучасному мистецтві України зараз документується наша новітня
      історія, яку мають побачити й почути в усьому світі. Ми ставимо за мету поширити та
      популяризувати сучасну українську культуру, та наша ініціатива на даний момент повністю
      волонтерська. Якщо вам відкликаються наші цілі та ідеї, ви можете підтримати нас фінансово
      будь-яким зручним для вас способом за посиланнями нижче. Частину зібраних коштів ми
      використаємо для перекриття наших витрат на організацію івенту, а іншу частину відправимо на
      потреби захисників у лавах ЗСУ.
    </p>
  </div>
  <div class="support__details">
    <div>
      <p class="heading-2 uppercase">МОНОБАНК</p>
      <p class="heading-2 uppercase data">4441 1144 5062 8944</p>
    </div>
    <div>
      <p class="heading-2 uppercase">ПРИВАТБАНК</p>
      <p class="heading-2 uppercase data">5457 0822 7268 0245</p>
    </div>
    <div>
      <p class="heading-2 uppercase">МІЖНАРОДНІ ПЕРЕКАЗИ</p>
      <p class="heading-2 uppercase data">SWIFT / IBAN</p>
    </div>
    <div>
      <p class="heading-2 uppercase">PAYPAL</p>
      <p class="heading-2 uppercase data">pledcasting@gmail.com</p>
    </div>
  </div>
</section>
