@font-face {
  font-family: "HKGrotesk-Regular";
  src: url("../src/fonts/HKGrotesk/HKGrotesk-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../src/fonts/roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/fonts/roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TenorSans-Regular";
  src: url("../src/fonts/Tenor_Sans/TenorSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Mont-Regular";
  src: url("/src/fonts/Mont/Mont-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Mont-SemiBold";
  src: url("/src/fonts/Mont/Mont-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: "HKGrotesk-Regular";
  src: url("../src/fonts/HKGrotesk/HKGrotesk-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../src/fonts/roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/fonts/roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TenorSans-Regular";
  src: url("../src/fonts/Tenor_Sans/TenorSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Mont-Regular";
  src: url("/src/fonts/Mont/Mont-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Mont-SemiBold";
  src: url("/src/fonts/Mont/Mont-SemiBold.otf") format("opentype"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  color: var(--color-white);
  background-color: var(--background-color-grey);
  box-sizing: border-box; }

main {
  margin: auto; }

a,
a:active,
a:hover {
  text-decoration: none;
  color: black; }

ul {
  list-style: none; }

.wrapper-main {
  padding: 0 12vw; }

.dot {
  border-radius: 100%;
  width: 1rem;
  height: 1rem; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 12vw; }
  header .branding {
    display: flex;
    flex-direction: row;
    align-items: center; }
    header .branding img {
      width: 6rem;
      height: 6rem;
      margin-right: 2rem; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      header nav ul li {
        margin-right: 2rem; }

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2d82df;
  color: white;
  padding: 1.9rem 4.7rem; }

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.6rem; }
  .hero__theatre {
    grid-column: 1 / 7; }
  .hero__desc {
    grid-column: 7 / 13; }
    .hero__desc__meta__date {
      display: flex; }
      .hero__desc__meta__date div {
        margin-right: 1rem;
        background-color: #2d82df; }
    .hero__desc__meta__loc {
      display: flex;
      margin-top: 1.2rem; }
      .hero__desc__meta__loc div {
        margin-right: 1rem;
        background-color: #ffc535; }

.participants ul {
  display: flex;
  margin-top: 6rem; }
  .participants ul li {
    background-color: #2d82df;
    padding: 2rem 4rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .participants ul li p {
      color: white;
      text-transform: uppercase; }
