<div class="participant">
  <h3 class="heading-3">Любко Дереш</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/deresh.jpeg" alt="deresh cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">16:30, Лекторій (24:00)</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Розмова-бесіда з Любко Дерешем - про Україну сьогодні, культурний фронт та чому мистецтво нині
    теж зброя. Любко Дереш - письменник, яскравий представник сучасної української постмодерної
    літератури, видатний мислитель. Аби більше відчути філософію автора - слухайте подкаст з
    Любомиром, записний на 39 день війни у Цивільному Штабі Космосу за посиланням у сторіс.
    Майданчиком для освітніх лекцій ми цього разу обрали локацію 24:00 Store.
  </p>
</div>
