<div class="participant">
  <h3 class="heading-3">Ігор Козловський</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/kozlovskyy.jpeg" alt="kozlovskyy cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">14:00</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Ігор Козловський про відповідальність митця Дискусійна зустріч з Ігорем Козловським –
    релігієзнавцем і громадським діячем, людиною з потужною глибиною розуму, духовного досвіду та
    чуттєвості. Торкнемося тем відповідальності особистості, а конкрето митця, на власному фронтирі
    – гнучкістю мистецтва та емпатичністю людяності. Співзвучно думатимемо про актуальність
    сучаснооновлення культурного дискурсу та внутрішні запити на переосмислення досвіду.
  </p>
</div>
