@import "../base/colors.scss";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-white);
  background-color: var(--color-white);
  box-sizing: border-box;
}

main {
  margin: auto;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: $color-0;
}

ul {
  list-style: none;
}
