@import "../base/colors.scss";

//HERO SECTION ===========================
.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.6rem;
  &__theatre {
    grid-column: 1 / 7;
  }
  &__desc {
    grid-column: 7 / 13;
    &__meta {
      &__date {
        display: flex;
        div {
          margin-right: 1rem;
          background-color: $color-main-b;
        }
      }
      &__loc {
        display: flex;
        margin-top: 1.2rem;
        div {
          margin-right: 1rem;
          background-color: $color-main-y;
        }
      }
    }
  }
}

// PARTICIPANTS SECTION ===========================
// TABS SWITCHERS =======================
.participants {
  margin-top: 10rem;
  ul {
    display: flex;
    margin-top: 6rem;
    li {
      background-color: #d4d4d4;
      padding: 2rem 4rem;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        background-color: $color-main-b;
        p {
          color: white;
        }
      }
      p {
        color: black;

        text-transform: uppercase;
      }
    }
  }
  &--wrapper {
    > div {
      display: none;
      justify-content: space-between;
    }
    div.visible {
      display: flex;
    }

    .participant {
      width: 45%;
      max-width: 56rem;
      height: auto;
      margin: 8rem 2rem 0 0;
      &:last-of-type {
        margin-right: 0;
      }
      &__pic {
        position: relative;
        width: 100%;
        margin-top: 2rem;
        img {
          width: 100%;
        }
        > div {
          position: absolute;
          left: 2rem;
          bottom: 2rem;
          display: flex;
          .dot {
            margin-right: 1rem;
            background-color: $color-main-b;
          }
          p {
            color: white;
          }
        }
      }
      &__desc {
        margin-top: 2rem;
      }
    }
  }
}

// SUPPORT SECTION ===========================
.support {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.6rem;
  margin-top: 10rem;
  &__title {
    grid-column: 1 / 7;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    grid-column: 7 / 10;
    &:first-child {
      font-weight: bold;
    }
  }
  &__details {
    grid-column: 10 / 13;
    > div {
      border-radius: 50px;
      border: 1px solid black;
      padding: 3rem 4.2rem;
      margin-top: 1.6rem;
    }
  }
}
