<div class="participant">
  <h3 class="heading-3">Аліна Горлова</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/dosch.jpeg" alt="dosch cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">103 хв / 2020</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    “Цей дощ ніколи не скінчиться” веде глядачів потужною, візуально захоплюючою подорожжю крізь
    нескінченний людський цикл війни та миру. Фільм слідкує за життям 20-річного Андрія Сулеймана,
    який намагається забезпечити своє стійке майбутнє, одночасно працюючи з людськими жертвами
    збройних конфліктів. Від війни в Сирії до конфлікту в Україні, існування Андрія обрамлене ніби
    вічним потоком життя і смерті.
  </p>
</div>
