<div class="participant">
  <h3 class="heading-3">Сестри Фельдман</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/feldman-cartoon.jpeg" alt="feldman-cartoon cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">32 хв / 2021</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Сюжет мультсеріалу розвивається у 2213 році. Автори показують світ майбутнього, у якому люди
    довірили свої емоції нейромережі. Тепер усі можуть контролювати свої дії та надпродуктивно
    працювати завдяки вживленому чипу, який підвищує ефективність. Проте пара вчених рятує
    новонародженого YoYo від штучного інтелекту. Тепер він – єдина людина на Землі, яка може
    займатися творчістю, відчувати емоції та любити.
  </p>
</div>
