<div class="participant">
  <h3 class="heading-3">Антон Овчінніков</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/monochrome.png" alt="dosch cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">"МОНОХРОМ", 15 хвилин.</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Відео-перформанс, під час якого Антон Овчінніков, хореограф, документує процес адаптації до
    "тихого" життя після місяця життя під обстрілами.
  </p>
</div>
