<div class="participant">
  <h3 class="heading-3">Аліна Горлова</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/projavy.jpeg" alt="projavy cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">63 хв / 2018</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Що залишається за лаштунками героїчних відео про наших воїнів в Україні? З чим вони змушені
    стикатися, сам на сам, у мирному житті, і де закінчується війна? Це історія жінки, яка
    повертається з війни. Розмовляючи з психологами, борючись із ПТСР та панічними атаками, вона
    намагається повернутися до нормального життя. Цей документальний фільм показує її шлях від
    початку реабілітації до повернення на роботу.
  </p>
</div>
