<div class="participant">
  <h3 class="heading-3">Єлизавета Сміт, Георг Жено</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/school.jpeg" alt="school cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">116 хв / 2017</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Фільм про 13 учнів школи № 3 містечка Миколаївка Донбаської області. Влітку 2014 року Миколаївка
    стала свідком та учасником бойових дій. Декілька снарядів потрапили в школу№3, перетворивши її в
    одну з руїн міста. Це історія дорослішання 13 підлітків які пережили війну.Період відображений в
    фільмі – це межа між війною та миром, дитинством і дорослим життям. Ці діти хочуть бути
    почутими, і вони мають що сказати. Це фільм про дружбу, перше кохання, та майбутнє.
  </p>
</div>
