    <footer class="footer--mob">
        <!-- <div class="footer--mob--left">
            <div class="wrapper"><img src="" alt=""></div>
            <ul>
                <li><a href="" class="heading-5">timetable</a></li>
                <li><a href="#lineup--mob" class="heading-5">lineup</a></li>
                <li><a href="" class="heading-5">mup</a></li>
            </ul>
        </div>
        <div class="footer--mob--right"></div> -->
    </footer>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <% for (let script of scripts) { %>
        <script type="module" src="<%= script %>"></script>  
    <% } %>

    <!-- <script src="/js/utils/sockets/socket.io.js"></script> -->
    <!-- <script src="/js/players/wavesurfer/wavesurfer.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.0.0/video.min.js"></script> -->
    <script type="module" src="/js/app.bundle.js"></script>  
</body>
</html>