<header class="">
  <div class="branding">
    <img src="/src/imgs/ava-img-blue.svg" alt="art-weapon logo" />
    <h4 class="paragraph">
      Мистецтво <br />
      зброя!
    </h4>
  </div>
  <nav class="navigation">
    <ul>
      <li><a href="" class="paragraph"> Учасники</a></li>
      <li><a href="" class="paragraph"> Розклад</a></li>
      <li><a href="" class="paragraph"> Мапа</a></li>
    </ul>
    <button class="donate paragraph">Підтримати</button>
  </nav>
</header>
