<header class="">
  <div class="branding">
    <img src="/src/imgs/ava-img-blue.svg" alt="art-weapon logo" />
    <h4>
      Мистецтво <br />
      зброя!
    </h4>
  </div>
  <nav class="navigation">
    <ul>
      <li><a href=""> Учасники</a></li>
      <li><a href=""> Розклад</a></li>
      <li><a href=""> Мапа</a></li>
    </ul>
    <button class="donate">Допомогти</button>
  </nav>
</header>
