<div class="participant">
  <h3 class="heading-3">Hooligan Art Community</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/hooligan.jpg" alt="hooligan cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">14:00-15:00, Closer</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Hooligan Art Community – група театралів, що працюють у форматі work-in-progress. Цей формат не
    має кінцевої форми, допрацьовується та змінюється протягом існування, а глядач є співучасником
    цього процесу. 14 травня Hooligan Art Community представить "Ритми війни" – пластичний
    перформанс, створений спільно з Космос Табором. Перформер – Данило Шраменко, актор, музикант,
    танцівник, поет. Акцентує увагу на роботі з тілом, дослідженні його можливостей, пластиці. Серед
    його проєктів – серія україно-німецьких резиденцій TranzYt, Hoolgian та Radiation спільно з
    режисером Пітером Кантом, а також музичний бенд "Ціаністий Кафєль" Барабани – Олександр Явдик,
    перкусіоніст, космодесантник. Співпрацює з музичними проєктами "Женя і Катя", Стас Корольов та
    Асафатов Сергій. Співавтор та виконавець документального перформансу "Народження Їжака",
    випущенного у Києві на 17 день війни.
  </p>
</div>
