<div class="participant">
  <h3 class="heading-3">Hooligan Art Community</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/hooligan.jpg" alt="hooligan cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">12:00</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    In May 2022 we were due to deliver Hooligan, a participatory music theatre project funded by the
    British Council in Dnipro, Ukraine, in partnership with Dnipro Centre for Contemporary Culture
    and Hooligan Art Community, a collective of Ukrainian artists working with our long-term
    collaborator Peter Cant. The war has of course made this impossible, but the artists, now
    displaced across Europe, have developed a plan to relocate the project to Germany with many of
    the original Hooligan artists and Ukrainian refugee participants. We've been working with
    Hooligan Art Community since 2019 when they were selected for our Various Stages Festival 2020.
    They planned a three-day workshop with a young adult community chorus in London. This was cut
    short by the first lockdown and a scramble to return the artists to Ukraine before the borders
    closed. We could not have imagined what was to follow - an ongoing pandemic, and almost exactly
    two years later, the violent invasion of Ukraine.
  </p>
</div>
