<div class="participant">
  <h3 class="heading-3">Hooligan Art Community</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/hooligan.jpg" alt="hooligan cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">12:00</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Hooligan Art Community - група акторів , що працюють з театром у форматі work-in-progress. З
    2017 співпрацюють з британським режисером Пітером Кантом , спільно випустили проєкти
    <a href="http://dakh.com.ua/post/tranzyt/" target="_blank">TranzYt</a> ,
    <a href="https://artarsenal.in.ua/vystavky/podia/vystava-hooligan/" target="_blank">Hoolgian</a>
    та
    <a href="https://www.i-portunus.eu/story/hooligan-art-community/" target="_blank">Radiation</a>.
    <br />
    З початком травня 2022 Hooligan Art Community запустили німецько-українську театральну
    резиденцію. Українські актори Данило Шраменко та Семен Кислий почали репетицій в Києві, водночас
    режисер Пітер Кант та хореограф Маті почали репетиції з українцями в Берліні. 25 травня буде
    презентація проєкту. 14 травня Данило Шраменко та Семен Кислий поділяться напрацюваннями. Театр
    work-in-progress - це коли глядач є співучасником процесу, ділить з актором досвід вивченням,
    дослідження.
  </p>
</div>
