<div class="participant">
  <h3 class="heading-3">mariia&magdalyna + krkrk</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/mariiamagdalyna.jpeg" alt="mariiamagdalyna cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">12:00</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Меса «Людина?» – це дослідження хто така людина та як відчувати про війну. Спільний художній
    пошук актрис Mariia & Magdalyna разом контрабасисткою та електронною музиканткою krkrk. Mariia &
    Magdalyna – дует Марусі та Надії, які співпрацюють разом уже 9 років. За весь цей час взяли
    участь у понад 10 проєктах, були учасницями соціального кабере «ЦеШо», актрисами театру «Дах», а
    у 2020 запустили спільний проєкт театральних мес. До роботи над месою «Людина?» приєдналася
    контрабасистка та електронна музикантка Христина, яка транслювала свої відчуття у звук.
    Хаотичні, аритмічні мелодії, що увібрали біль та пошук. Вінниця – третє місто після Львова та
    Києва, де буде вистава. Далі покази проєкту у Ганновері, Будапешті, Вісбадені та Бремені.
  </p>
</div>
