<div class="participant">
  <h3 class="heading-3">mariia&magdalyna + krkrk</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/mariiamagdalyna.jpeg" alt="mariiamagdalyna cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">12:00</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    “людина?...” – театрально-музична меса. Дослідження хто така людина та як відчувати про війну.
    Спільний художній пошук актрис Mariia & Magdalyna разом контрабасисткою та електронною
    музиканткою krkrk. Хаотичні, аритмічні мелодії, що увібрали біль та пошук. «Людина?» – це
    музична подорож: поєднання щоденників, які писали щодня під час війни, і текстів з Біблії. За
    допомогою цих текстів мисткині протягом 2 тижнів досліджували питання любові, прийняття,
    прощення, гніву, гріха та ненависті. які це слова в сучасному світі? це актуально? чи можу я
    вірити в щось під час руйнування світу?
  </p>
</div>
