<div class="participant">
  <h3 class="heading-3">Стус: Перехожий</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/stus.jpeg" alt="stus cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">13:00-14:30, Кінотеатр (GreyCat.Studio)</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    «Стус: Перехожий» – це медитативна камерна опера від Центру сучасного мистецтва "ДАХ". Спроба
    добути закладене Стусом в поезії через голос, фортепіано та контрабас. <br />
    «Стус: Перехожий» – це унікальний проєкт в контексті історії ЦСМ "ДАХ" тим, що це перший
    самостійний проєкт KLIMа. Дивовижна історія, поєднання генія з іншим, наповнене силою та красою
    змістів. <br />
    Слова – Василь Стус <br />
    Тренер – KLIM <br />
    Музика та виконання – Володимир Руденко, Софія Баскакова, Ігор Димов <br />
    <br />
    Тривалість – 1 година 20 хвилин
  </p>
</div>
