<div class="participant">
  <h3 class="heading-3">Koloah</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/gnatenko-u.jpeg" alt="koloah serenity cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">Аудіо Перформанс (Otel')</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min"></p>
</div>
