<div class="participant">
  <h3 class="heading-3">Koloah</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/koloah-serenity.webp" alt="koloah serenity cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">Аудіо Перформанс (Otel')</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Як в оточуючому світі зараз складно знайти спокій та гармонію, так новий ембіент-альбом
    київського музиканта та продюсера Koloah (Дмитра Авксентьєва) наче повністю зітканий з них. Його
    назва Serenity, тобто безтурботність, відображає медитацію на сучасні реалії українців. Якщо
    минулий альбом Koloah Millennium Sun розповідає про космічну утопію, то 8 треків з Serenity
    стали результатом антиутопії, що спіткала Україну. Коли 24 лютого росія розпочала війну проти
    українського народу, Дмитро залишив Київ з котом, мінімумом одягу та лептопом, щоб лише через 70
    годин знайти нове безпечне місце. Свою історію артист розповідає на обкладинці альбому. Koloah
    наголошує, що війна в рідній країні наштовхнула його на пошуки в собі сил триматись далі. Їх він
    через музику й хоче поширити з іншими українцями в умовах, коли “завтра” — це химерне явище, яке
    може й не настати. “Я створив цей альбом, щоб відобразити те, що відбувається з нами: сльози,
    ностальгія, мрії про майбутнє, віра в яскравий завтрашній день. Ми виживемо, повернемось до
    наших міст і відбудуємо країну, коли війна скінчиться”.
  </p>
</div>
