<div class="participant">
  <h3 class="heading-3">Machineroom</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/machineroom.jpg" altmachineroom kyiv" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">MachineRoom electro acoustic improvisation (Двір)</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Окремі гості нашої музичної програми — учасники ком’юніті модулярного синтезу @machineroom.ua .
    У дворі Нижньоюрківської, 31 команда з 7 чоловік представить електроакустичну імпровізацію.
    Головна ідея проєкту MachineRoom — розвиток експериментальної лайв сцени в Україні. Останні три
    роки спільнота створює елетромодулі, проводить майстер-класи та виступає з лайв-перфомансами на
    різних івентах
  </p>
</div>
