<div class="participant">
  <h3 class="heading-3">Monoconda</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/monoconda-identity.jpeg" alt="monoconda identity cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">Аудіо Перформанс (Otel')</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    З початком війни питання ідентичності в українців набуло іншого, прозорого значення. Коли
    навколо руйнується весь звичний світ, життя стає простішим та складається лише з найважливіших
    речей. Цю думку в музиці, що увійшла до альбому Identity, поширює український продюсер Monoconda
    (Олександр Філоненко). “Війна, попри всі її жахіття, смерть та руйнацію несе в собі функцію
    прискорення багатьох процесів” — стверджує музикант. — “Як економічно-політичних, так і
    соціально - психологічних”. Хоча Identity був створений за місяць до початку війни, альбом
    відобразив відчуття неминучості, що наближається. Саме це відчуття, за словами Олександра, й
    спонукає рухатись вперед швидше, поки є шанс встигнути. Тому ембієнт-треки в альбомі дещо
    швидкі, наполегливі та інтенсивні. Уособлюють дію тут і зараз. Адже завтра може вже не бути.
  </p>
</div>
