<div class="participant">
  <h3 class="heading-3">Monoconda</h3>
  <div class="participant__pic">
    <img src="/src/imgs/participants/monoconda-identity.jpeg" alt="monoconda identity cover" />
    <div>
      <div class="dot"></div>
      <p class="heading-5">12:00</p>
    </div>
  </div>
  <p class="participant__desc paragraph-min">
    Коли життя показує тобі всі свої жахіття — ти одразу починаєш розуміти речі трохи краще.
    Починаєш усвідомлювати, що насправді важливо, а що не дуже. З часом приходить розуміння того, що
    таке твій дім, твоя мова, твоя природа, як людини та особистості. Над цим не дуже замислюєшся,
    коли живеш у комфорті, рефлексуючи з того чи іншого приводу. Коли в Україні почалася війна — все
    одразу стало чорно-білим, простим та зрозумілим. А трохи згодом прийшло розуміня того, хто є ти.
    Через кризу особистості проявляється твоя ідентичність та відбуваються тектонічні рухи у
    свідомості. Війна, попри всі її жахіття, смерть та руйнацію несе в собі функцію прискорення
    багатьох процесів. Як економічно-політичних, так і соціально - психологічних. Коли розумієш, що
    завтра може не настати — трохи швидше рухаєшся вперед.
  </p>
</div>
